{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Your Favourites</h2>
            </div>
        </div>
        <div class="row">
            {% if favourites %}
                <ul>
                    {% for item in favourites %}
                        <li>{{ item.name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No favourites found!</p>
            {% endif %}

        </div>
    </div>
{% endblock %}