{% extends "base.html" %}
{% load static %}

<!--header from all pages-->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center mt-3 mx-5">
            <h2>Sign up to recieve our quarterly newsletter</h2>
            <p>Keep up to date with new product launches, special deals and seasonal offers.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col my-4">
        <div class="card">
            <div class="card-body">
                <form action="{% url 'newsletter:subscribe' %}" method="POST">
                    {% csrf_token %}
                    {{ subscribe_form|crispy }}
                    <button class="btn btn-dark text-uppercase" type="submit">
                        Sign me up!
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}