<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="#">About Us</a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="categories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="categories-link">
                <a href="{% url 'products' %}?category=soft" class="dropdown-item">Soft</a>
                <a href="{% url 'products' %}?category=fizzy" class="dropdown-item">Fizzy</a>
                <a href="{% url 'products' %}?category=chocolate" class="dropdown-item">Chocolate</a>
                <a href="{% url 'products' %}?category=chewy" class="dropdown-item">Chewy</a>
                <a href="{% url 'products' %}?category=hard" class="dropdown-item">Hard</a>
                <a href="{% url 'products' %}?category=special_diet" class="dropdown-item">Special Diet</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="#">‘For All’ Range</a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'subscribe' %}">Newsletter</a>
        </li>
    </ul>
</div>
